<p>
  <strong>User_name:</strong>
  <%= @user_project.user.email%>
</p>
 
<p>
  <strong>Project_name:</strong>
  <%= @user_project.project.project_name %>
</p>



<%= link_to 'Back', user_projects_path %>